* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 555px;
    color: black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 9px;
    color: black;
}

button {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 12px;
    color: black;
    border: 3px solid black;
    border-radius: 9px;
    cursor: pointer;
}

button:hover {
    background-color: #A9CBFF;
}